:root {
  --soft-cyan:hsl(174, 77%, 80%);
  --strong-cyan:hsl(174, 86%, 45%);
  --light-grayish-red:hsl(14, 92%, 95%);
  --light-red:hsl(15, 100%, 70%);
  --pale-blue:hsl(226, 100%, 87%);
  --white:hsl(0,0%,100%);
  --very-pale-blue:hsl(230, 100%, 99%);
  --empty-slideer: hsl(224, 65%, 95%);
  --toggle-background:hsl(223, 50%, 87%);
  --text:hsl(225, 20%, 60%);
  --cta-background:hsl(227, 35%, 25%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: manrope, sans-serif;
  background-image: url(./images/bg-pattern.svg);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-color: var(--very-pale-blue);
}
header {
  /* width: 34rem; */
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 34rem;
  margin: auto;
  text-align: center;
  background-color: var(--white);
  box-shadow: 0px 2px 20px hsl(225, 20%, 90%);
  border-radius: 10px;
}

h1 {
  color: var(--cta-background);
  padding-bottom: 5px;
  font-weight: 800;
}
p {
  color: var(--text);
  font-size: 0.9rem;
  padding-bottom: 5px;
}
.title-box {
margin-top: 70px;
background-image: url(./images/pattern-circles.svg);
background-repeat: no-repeat;
background-position: center center;
background-size: contain;
margin-bottom:3.125rem;
height: 8rem;
}

.main-content-box {
  padding: 10px;
}
.price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;

}

h4 {
  color: var(--text);
  letter-spacing: 1px;
  line-height: 1.5;
}
h1 span {
  color: var(--text);
  font-weight: 600;
  font-size: 20px;
}

.price-range {
  width: 90%;
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  outline: none;
  background: linear-gradient(90deg, var(--soft-cyan) 28%, var(--empty-slideer) 0);
  border-radius: 10px;
  margin-bottom: 48px;
}

.price-range::-webkit-slider-thumb {
  appearance: none;
  width:3.125rem;
  height:3.125rem;
  background-color: var(--strong-cyan);
  background-image: url(./images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  transition: all .3s ease;
}

.price-range::-webkit-slider-thumb:hover {
  /* box-shadow: 0 0 0 10px var(--soft-cyan); */
  background-color: var(--soft-cyan);
  cursor: pointer;
  /* filter: drop-shadow(1px 2px 10px var(--strong-cyan)) */

}
.price-range::-webkit-slider-thumb:active {
  background-color: var(--strong-cyan);
  filter: drop-shadow(10px 10px 10px var(--strong-cyan))

}
.monthly-biiling-box {
  margin-bottom:3.125rem;
}
label {
  color: var(--text);
  padding: 5px;
  font-size: 0.9rem;

}

label span {
  color: var(--light-red);
  background-color: var(--light-grayish-red);
  font-size: 0.9rem;
  padding: 5px;
  border-radius: 10px;

}

section {
  border-top: solid .5px var(--toggle-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:3.125rem;
  text-align: start;
}
ul {
  list-style: none;
  color: var(--text);

}
li {
  margin-bottom: 10px;
}

button {
  background-color: var(--cta-background);
  color: var(--pale-blue);
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
}

button:hover {
  color: var(--white);

}

.switch {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 60px;
  
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--empty-slideer);
  transition: .4s;
  border-radius: 34px;
}

/* .switch input{
display: none;
} */

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 5px;
  bottom: 5px;
  background-color: var(--white);
  border-radius: 50px;
}

input:checked + .slider {
  background-color: var(--strong-cyan);

}

input:checked +.slider::before {
  transform: translateX(30px)
}


@media (max-width:500px) {
 header {
   max-width: 300px;
   padding: 1.2rem;
 }
 h1 {
   font-size: 1rem;
 }
 main {
   width: auto;
   max-width: 300px;
 }
 section {
   flex-direction: column;
 }
 section div{
  margin-bottom: 1rem;
 }
/* h4 {
  font-size: .7rem;
} */

 .monthly-biiling-box {
   display: flex;
   align-items: center;
   justify-content: center;
 }
 label {
   font-size: .9rem;
   padding: 2px;
 }
 label span {
   font-size: .5rem;
 }
 #discount-label::after {
  content: '-25%';
  color: var(--light-red);
  background-color: var(--light-grayish-red);
  font-size: 0.5rem;
  padding: 5px;
  border-radius: 10px;
 }
 #discount-label span {
   display: none;
 }
 .price-box {
   /* display: flex; */
   flex-direction: column;
 }
 #price{
   font-size: 2rem;
   padding: 1rem;
 }
}